.pageLayout {
  width: 100%;
  padding: 6.25rem 1.875rem;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
  flex-wrap: wrap;
  width: 64rem;
}

.listCard {
  width: calc((100% - 5rem) / 5);
}
