.container {
  width: 100%;
  padding: 6.25rem 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageLayout {
  width: 64rem;
  margin-top: 3.125rem;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  width: 100%;
}

.emptyMessage {
  text-align: center;
  width: 100%;
}

.searchArea {
  width: 31.25rem;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
}

.listCard {
  width: calc((100% - 5rem) / 5);
  min-height: fit-content;
}

.icon {
  width: 2.375rem;
  min-width: 2.375rem;
  height: 2.375rem;
  background: url(../../assets/imgs/search-icon.png) no-repeat center / 1.75rem
    1.75rem;
}

.searchBar {
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .listCard {
    width: calc(50% - 0.3125rem);
  }

  .pageLayout {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .listCard {
    width: 100%;
  }
}
