.wrapper {
  width: 100%;

  .swiper {
    width: 100%;
    padding: 0;
  }

  .swiper-slide {
    padding: 0;

    border-radius: 10px;
    height: 12.5rem;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }
}
