.banner {
  width: 100%;

  height: 80vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.6875rem;
  border-bottom: 1px solid #eeee;
  padding: 0 1.25rem 1.875rem;
}

.position {
  width: 64rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2.8125rem;
  height: 100%;
}

.imgContainer {
  min-width: 70%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text {
  h3 {
    font-size: 3vw;
  }
}
