.movieCard {
  cursor: pointer;
  width: 100%;

  .imgWrap {
    width: 100%;
    height: 18.75rem;
    overflow: visible;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .textInfo {
    padding: 20px 0 3.125rem;
  }
}

.noImg {
  width: 100%;
  height: 100%;
  background: gray;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
